<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="br.com.battista.bgscore"
        android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".MainApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:allowBackup">

        <service
                android:name=".service.CacheManageService"
                android:enabled="true" />

        <activity android:name=".activity.BaseActivity" />
        <activity
                android:name=".activity.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.HomeActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait">

        </activity>

        <meta-data
                android:name="DATABASE"
                android:value="bgscore_db.db" />
        <meta-data
                android:name="VERSION"
                android:value="0" />
        <meta-data
                android:name="QUERY_LOG"
                android:value="false" />
        <meta-data
                android:name="DOMAIN_PACKAGE_NAME"
                android:value="br.com.battista.bgscore.model" />
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="259f20ad704f17270f36dedac2ff04ed2f044dfb" />

    </application>

</manifest>